body{
  overflow-x: hidden;
}

h1{
  font-family: "Times New Roman", Times, serif;
  color: rgb(165, 20, 23);
  padding: 20px;
  font-size: 40px;
  text-align: center;
}

h2{
  color: Black;
  font-size: 36px;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  margin: 0px;
  padding: 0px;
  margin-bottom: 20px;
}

h4 {
    font-size: 18px;
    margin-left: 30px;
    padding: 10px;
}

table{
  box-shadow: 3px 3px 10px #888888;
  /*position: relative;
  left: 40px;*/
}

th, td{
  border-bottom: 1px solid #ddd;
  padding: 15px;
  text-align: left;
}

.col-md-4{
  padding: 30px 15px;
  margin: 0px;
  width: 32%;
}

.navbar-default{
  background-color: #28292b;
}

.navbar-default .navbar-nav>li>a {
    color: #eaeff7;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 12px;
}

.navbar-default .navbar-nav>li>a:hover {
    /*color: rgb(165, 20, 23);*/
    text-decoration: underline;
    color: #eaeff7;
}

.container{
    width: 720px;
}

.article{
  width: 300px;
  height: 420px;
  background-color: #6c7373;
  color: White;
  margin: 20px 20px;
  float: left;
}

.article b{
  font-size: 18px;
}

.article p{
  padding: 15px;
  line-height: 2em;
}

.spacewaste{
  height: 100px;
  background-color: White;
  margin-left: auto;
  margin-right: auto;
  width: 540px;
}

.spacewaste a{
  margin:0px;
}

#upcoming{
  color: hsla(0, 0%, 60%, 0.5);
}

#washUtext{
  margin: 15px;
  position: absolute;
  top: 50px;
  left: 90px;
}

#artSciText{
  position: absolute;
  top: 105px;
}

#emblem{
  position: relative;
  top: -8px;
  left: 5px;
}

#explore{
  background-color: rgb(60, 148, 146);
  color: White;
  width: 250px;
  height: 150px;
  position: absolute;
  left: 1300px;
  top: 400px;
  z-index: 10;
  padding: 20px;
}

#explore h1{
  color: White;
  padding: 10px;
  padding-left: 0px;
  margin: 0px;
  letter-spacing: 8px;
}

#explore small{
  font-family: sans-serif;
  font-size: 18px;
  color: White;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: bold;
}

#explore:hover{
  background-color: Maroon;
}

#second-nav{
  position: absolute;
  left: 935px;
  top: 130px;
  font-weight: bold;
}

#second-nav a{
  color:black;
  font-size: 16px;
}

#second-nav a:hover{
  color: rgb(165, 20, 23);
  background-color: Transparent;
}

#graphics{
  padding: 20px;
  position: relative;
  left: -40px
}

#graphics .col-md-2{
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
  position: relative;
  left: 280px;
}

#graphics span{
  font-size: 80px;
  padding-left: 36px;
  color: #007460;
}

#graphics p{
  font-size: 16px;
  font-weight: bold;
  font-family: inherit;
  text-transform: uppercase;
  margin: 20px;
  text-align: center;
}

#graphics .important{
  font-size: 50px;
  color: black;
  padding-left: 0px;
  margin: 0px;
}

#prospective{
  /*background-color: #6c7373;*/
  /*background-color: #3c3c3d;*/
  background-color: maroon;
  margin-top:20px;
}

#prospective div{
  background-color: maroon;
  border: 4px solid White;
  width: 300px;
  padding: 25px;
  margin: 30px;
  color: White;
  text-align: center;
  font-size: 20px;
  display: inline-block;
  position: relative;
  left: 400px;
}

#prospective div:hover{
  /*background-color: rgb(238, 238, 238);*/
  background-color: white;
  color: maroon;
  border: 4px solid maroon;
}

#news{
  background-color: rgb(238, 238, 238);
  height: 67em;
}

#news .col-md-8{
  margin-left: 20px;
  margin-top: 20px;
}

#faculty-focus .col-md-6{
  background-color: rgb(238, 238, 238);
  height: 600px;
}

#faculty-focus .col-md-12{
  background-color: rgb(238, 238, 238);
}

#faculty-focus h1{
  margin: 30px;
}

.bio{
  background-color: White;
  margin: 70px;
  padding: 20px;
  height: 440px;
}

#profile1{
  position: absolute;
  left: 436px;
  top: 66px;
  width: 320px;
}

#profile2{
  position: absolute;
  left: 25px;
  top: 65px;
  width: 320px;
}

.desc1{
  padding: 20px;
  height: 400px;
  border: 1px solid  #ffcc00;
  width: 60%;
  line-height: 2em;
  font-family: inherit;
}

.desc1:hover{
  background-color: #ffcc00;
}

.desc2{
  padding: 20px;
  height: 400px;
  border: 1px solid rgb(97, 33, 102);
  width: 60%;
  line-height: 2em;
  font-family: inherit;
  float: right;
}

.desc2:hover{
  background-color: rgb(97, 33, 102);
  color: white;
}

.desc2:hover h2{
  background-color: rgb(97, 33, 102);
  color: white;
}

.people-role{
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 600;
  letter-spacing: 0.11em;
}

.desc1 h2{
  font-size: 32px;
}

#social{
  margin: 20px;
}

#social li{
  margin: 10px;
}

#bottom{
  background-color:#3c3c3d;
  color: White;
  margin: 0px;
  padding: 0px;
}

#bottom img{
  position: relative;
  left: 120px;
}

#bottom p{
  padding: 30px;
  padding-top: 0px;
  position: relative;
  left: 40px;
  line-height: 2em;
  font-size: 16px;
}

#bottom h1{
  color: White;
  font-size: 26px;
  padding-bottom: 0px;
  padding-top: 0px;
}

#bottom h2{
  color: White;
  line-height: 2em;
  font-size: 16px;
  font-family: inherit;
  text-transform: uppercase;
  font-weight: bold;
  text-align: left;
  margin-bottom: 0px;
}

#bottom ul{
  list-style-position: outside;
  list-style-type: none;
  padding-left: 0px;
  line-height: 2em;
}

#bottom a{
  color: white;
}

#bottom .col-md-3{
  margin-top: 50px;
}

#footer{
  background-color: rgb(165, 20, 23);
  margin: 0px;
  height: 35px;
}

#footer p{
  color: White;
  text-transform: uppercase;
  font-size: 10px;
  margin-right: 30px;
  float: right;
}
